body {
    background-image: url(../images/space.jpg);
    transition: ease .6s;

.container .jumbotron{
	border-radius: 10px;
	background-color: #ADD8E6;
}

.panel2 {
	text-align: center;
}

.wrapper {
	background-color: #ADD8E6;
}

.thumbnail {
	width: 75px;
	height: 65px;
}
