body {
    background-image: url(../images/space.jpg);
    transition: background-color ease .6s;

.container .jumbotron {
	border-radius: 10px;
	background: lightblue;
	text-height: 20px;
	text-align: center;
}

.thumbnail {
	width: 75px;
	height: 50px;
}
